{
  "openapi": "3.0.1",
  "info": {
    "title": "Vehicle Rental Api 3.1",
    "description": "Vehicle rental APIs",
    "version": "2.0.2"
  },
  "servers": [
    {
      "url": "https://c3f5f68230e5f1df8a0bf25726-integration.local.cic2apps.pro:443/udpr3vpe6xs5a5fr7gafb6g6bl4ujwrl",
      "description": "dev"
    },
    {
      "description": "tst",
      "url": "https://c3f5f68230e5f1df8a0bf25726-integration.local.cic2apps.pro/wewe8728323rwrwe"
    }
  ],
  "paths": {
    "/v1/vehicle-objects/search": {
      "get": {
        "tags": [
          "Vehicle Object"
        ],
        "summary": "Search vehicle",
        "parameters": [
          {
            "schema": {
              "type": "string"
            },
            "in": "header",
            "name": "X-Correlation-Id",
            "description": "id propagated from the initiator",
            "required": true
          },
          {
            "name": "registration_number",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "uin",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_direction",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleSearchResults"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleSearchResults"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleSearchResults"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "404": {
            "description": "NotFound"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    },
    "/v1/vehicle-objects": {
      "post": {
        "tags": [
          "Vehicle Object"
        ],
        "operationId": "post-vehicle-object",
        "summary": "Create vehicle",
        "parameters": [
          {
            "name": "X-Correlation-Id",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Correlation ID for tracking requests cross domains"
          },
          {
            "name": "entity",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Entity Code"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleObjectObject"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleObjectObject"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/VehicleObjectObject"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Created",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleObjectObjectAndId"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleObjectObjectAndId"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/VehicleObjectObjectAndId"
                }
              }
            }
          },
          "400": {
            "description": "BadRequest"
          },
          "404": {
            "description": "NotFound"
          },
          "409": {
            "description": "409 Conflict"
          },
          "500": {
            "description": "InternalServerError"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "VehicleSearchResults": {
        "type": "object",
        "properties": {
          "current_page_item_count": {
            "type": "integer",
            "format": "int32"
          },
          "total_item_count": {
            "type": "integer",
            "format": "int32"
          },
          "page_size": {
            "type": "integer",
            "format": "int32"
          },
          "items": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/VehicleLeaseObjectBaseAndId"
            },
            "nullable": true
          }
        },
        "additionalProperties": false
      },
      "VehicleObjectObjectAndId": {
        "properties": {
          "lease_object_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/VehicleObjectObject"
          },
          {
            "type": "object"
          }
        ]
      },
      "VehicleLeaseObjectBaseAndId": {
        "allOf": [
          {
            "$ref": "#/components/schemas/VehicleObjectBase"
          },
          {
            "type": "object"
          },
          {
            "$ref": "#/components/schemas/LeaseObjectBase"
          },
          {
            "type": "object",
            "properties": {
              "lease_object_id": {
                "type": "string",
                "format": "uuid"
              }
            }
          }
        ]
      },
      "VehicleObjectObject": {
        "allOf": [
          {
            "$ref": "#/components/schemas/VehicleObjectBase"
          },
          {
            "type": "object"
          },
          {
            "$ref": "#/components/schemas/LeaseObjectBase"
          },
          {
            "type": "object",
            "properties": {
              "tyres": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/TyreObject"
                }
              },
              "options": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/OptionObject"
                }
              },
              "vehicle_price": {
                "$ref": "#/components/schemas/VehiclePriceObject"
              }
            }
          }
        ]
      },
      "LeaseObjectBase": {
        "type": "object",
        "properties": {
          "uin": {
            "type": "string",
            "example": "3Y1SL65848Z411439"
          },    
          "data_supplier": {
            "type": "string",
            "example": "JATO"
          }
        }
      },
      "VehicleObjectBase": {
        "type": "object",
        "properties": {
          "manufacture_date": {
            "nullable": true,
            "type": "string",
            "format": "date-time",
            "example": "2021-08-26T06:59:12.696Z"
          },
          "number_of_doors": {
            "type": "string"
          }
        },
        "required" : ["manufacture_date"]
      },
      "TyreObject": {
        "type": "object",
        "properties": {
          "position": {
            "type": "string"
          },
          "make": {
            "type": "string"
          }
        },
        "required" : ["position","make"]
      },
      "VehiclePriceObject": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          }
        }
      },
      "OptionObjectAndId": {
        "properties": {
          "option_id": {
            "type": "string",
            "format": "uuid"
          }
        },
        "allOf": [
          {
            "$ref": "#/components/schemas/OptionObject"
          },
          {
            "type": "object"
          }
        ]
      },
      "OptionObject": {
        "type": "object",
        "properties": {
          "manufacturer_code": {
            "type": "string"
          },
          "option_price": {
            "$ref": "#/components/schemas/OptionPriceObject"
          }
        }
      },
      "OptionPriceObject": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string"
          }
        }
      }
    }
  }
}