{
    "openapi": "3.0.3",
    "info": {
        "title": "Pet Store API",
        "version": "1.0.0"
    },
    "servers": [
        {
          "url": "https://c3f5f68230e5f1df8a0bf25726-integration.local.cic2apps.pro/jmexlgdalwy4ysyabkbgssqwqocu3xaf"
        }
      ],
    "paths": {
        "/pets/{pet-id}": {
            "post": {
                "summary": "Create a pet",
                "operationId": "createPet",
                "parameters": [
                    {
                      "schema": {
                        "type": "string"
                      },
                      "in": "header",
                      "name": "X-Correlation-Id",
                      "description": "id propagated from the initiator",
                      "required": true
                    },
                    {
                      "name": "pet-origin",
                      "in": "query",
                      "schema": {
                        "type": "string"
                      }
                    },
                    {
                      "name": "pet-id",
                      "in": "path",
                      "required": true,
                      "schema": {
                        "type": "integer"
                       
                      }
                    }
                  ],
                "requestBody": {
                    "description": "The pet to create",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Pet"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Created pet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Pet"
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "Created pet",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NewPet"
                                }
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Pet": {
                "type": "object",
                "required": [
                    "id",
                    "name"
                ],
                "properties": {
                    "id": {
                        "type": "integer",
                        "format": "int64"
                    },
                    "name": {
                        "type": "string"
                    },
                    "type": {
                        "type": "string",
                        "description": "The type of the pet"
                    },
                    "details": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/Dog"
                            },
                            {
                                "$ref": "#/components/schemas/Cat"
                            },
                            {
                                "$ref": "#/components/schemas/Bird"
                            }
                        ],
                        "discriminator": {
                            "propertyName": "Breed"
                        }
                    }
                }
            },
            "NewPet": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Pet"
                    },
                    {
                        "required": [
                            "name"
                        ],
                        "properties": {
                            "id": {
                                "type": "integer",
                                "format": "int64",
                                "readOnly": true
                            }
                        }
                    }
                ]
            },
            "Dog": {
                "type": "object",
                "title": "Dog",
                "properties": {
                    "Breed": {
                        "type": "string"
                    },
                    "Color": {
                        "type": "string"
                    },
                    "characteristics": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/SmallDog"
                            },
                            {
                                "$ref": "#/components/schemas/LargeDog"
                            }
                        ]
                    }
                }
            },
            "SmallDog": {
                "type": "object",
                "title": "SmallDog",
                "properties": {
                    "isLapDog": {
                        "type": "boolean"
                    },
                    "maxWeight": {
                        "type": "number",
                        "format": "float"
                    }
                }
            },
            "LargeDog": {
                "type": "object",
                "title": "LargeDog",
                "properties": {
                    "isGuardDog": {
                        "type": "boolean"
                    },
                    "minWeight": {
                        "type": "number",
                        "format": "float"
                    }
                }
            },
            "Cat": {
                "type": "object",
                "title": "Cat",
                "properties": {
                    "Breed": {
                        "type": "string"
                    },
                    "Color": {
                        "type": "string"
                    },
                    "characteristics": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/IndoorCat"
                            },
                            {
                                "$ref": "#/components/schemas/OutdoorCat"
                            }
                        ]
                    }
                }
            },
            "IndoorCat": {
                "type": "object",
                "title": "IndoorCat",
                "properties": {
                    "favoriteToy": {
                        "type": "string"
                    },
                    "isDeclawed": {
                        "type": "boolean"
                    }
                },
                "required":["isDeclawed"]
            },
            "OutdoorCat": {
                "type": "object",
                "title": "OutdoorCat",
                "properties": {
                    "huntingSkill": {
                        "type": "string"
                    }
                }
            },
            "Bird": {
                "type": "object",
                "title": "Bird",
                "properties": {
                    "Breed": {
                        "type": "string"
                    },
                    "canFly": {
                        "type": "boolean"
                    },
                    "characteristics": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/TalkingBird"
                            },
                            {
                                "$ref": "#/components/schemas/SingingBird"
                            }
                        ]
                    }
                }
            },
            "TalkingBird": {
                "type": "object",
                "title": "TalkingBird",
                "properties": {
                    "vocabularySize": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "SingingBird": {
                "type": "object",
                "title": "SingingBird",
                "properties": {
                    "songType": {
                        "type": "string"
                    }
                }
            }
        }
    }
}