{
    "openapi": "3.0.3",
    "info": {
        "title": "Pet Store API",
        "description": "API for managing a pet store",
        "version": "1.0.0"
    },
    "servers": [
        {
          "url": "https://1a91e01153ca0b9e0ff24561c8-integration.local.cic2apps.pro/vmjojuozlpxrwbj62xlpepm4dfso6hqf"
        }
      ],
    "paths": {
        "/pets/{pet-name}": {
            "post": {
                "summary": "Add a new pet",
                "description": "Adds a new pet to the store",
                "operationId": "addPet",
                 "parameters": [
                    {
                      "schema": {
                        "type": "string"
                      },
                      "in": "header",
                      "name": "X-Correlation-Id",
                      "description": "id propagated from the initiator",
                      "required": true
                    },
                    {
                      "name": "pet-id",
                      "in": "query",
                      "schema": {
                        "type": "integer"
                      }
                    },
                    {
                      "name": "pet-name",
                      "in": "path",
                      "required": true,
                      "schema": {
                        "type": "string"
                       
                      }
                    }
                  ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "title": "Pet",
                                "required": [
                                    "id",
                                    "name",
                                    "type"
                                ],
                                "properties": {
                                    "id": {
                                        "type": "integer",
                                        "format": "int64",
                                        "example": 1
                                    },
                                    "name": {
                                        "type": "string",
                                        "example": "Fluffy"
                                    },
                                    "type": {
                                        "type": "string",
                                        "enum": [
                                            "Dog",
                                            "Cat",
                                            "Bird"
                                        ]
                                    },
                                "Category": {
                                    "anyOf": [
                                        {
                                            "$ref": "#/components/schemas/Dog"
                                        },
                                        {
                                            "$ref": "#/components/schemas/Cat"
                                        },
                                        {
                                            "$ref": "#/components/schemas/Bird"
                                        }
                                    ],
                                    "discriminator": {
                                        "propertyName": "type"
                                    }
                                }
                             }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Pet added successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "title": "Pet",
                                    "required": [
                                        "id",
                                        "name",
                                        "type"
                                    ],
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "format": "int64",
                                            "example": 1
                                        },
                                        "name": {
                                            "type": "string",
                                            "example": "Fluffy"
                                        },
                                        "type": {
                                            "type": "string",
                                            "enum": [
                                                "Dog",
                                                "Cat",
                                                "Bird"
                                            ]
                                        },
                                    "Category": {
                                        "anyOf": [
                                            {
                                                "$ref": "#/components/schemas/Dog"
                                            },
                                            {
                                                "$ref": "#/components/schemas/Cat"
                                            },
                                            {
                                                "$ref": "#/components/schemas/Bird"
                                            }
                                        ],
                                        "discriminator": {
                                            "propertyName": "type"
                                        }
                                    }
                                 }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Invalid input"
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "Pet": {
                "type": "object",
                "title": "Pet",
                "required": [
                    "petId",
                    "petName"
                ],
                "properties": {
                    "petId": {
                        "type": "integer",
                        "format": "int64",
                        "example": 1
                    },
                    "petName": {
                        "type": "string",
                        "example": "Fluffy"
                    },
                    "petType": {
                        "type": "string",
                        "enum": [
                            "Dog",
                            "Cat"
                        ]
                    }
                }
            },
            "Dog": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Pet"
                    },
                    {
                        "type": "object",
                        "title": "Dog",
                        "required": [
                            "breed"                            
                        ],
                        "properties": {
                            "DogSize": {
                                "type": "string",
                                "enum": [
                                    "Large",
                                    "Medium",
                                    "Small"
                                ]
                            },
                            "breed": {
                                "type": "string",
                                "example": "Golden Retriever"
                            },
                            "DogDetails": {
                                "anyOf": [
                                    {
                                        "$ref": "#/components/schemas/ServiceDog"
                                    },
                                    {
                                        "$ref": "#/components/schemas/PetDog"
                                    }
                                ],
                                "discriminator": {
                                    "propertyName": "subtype"
                                }
                            }
                        }
                    }
                ]
            },
            "Cat": {
                "allOf": [
                    {
                        "$ref": "#/components/schemas/Pet"
                    },
                    {
                        "type": "object",
                        "title": "Cat",
                        "required": [
                            "color"
                        ],
                        "properties": {
                            "CatBreed": {
                                "type": "string",
                                "enum": [
                                    "Purebred",
                                    "Mixed",
                                    "Indie"
                                ]
                            },
                            "Color": {
                                "type": "string",
                                "example": "Black"
                            },
                            "CatDetails": {
                                "anyOf": [
                                    {
                                        "$ref": "#/components/schemas/IndoorCat"
                                    },
                                    {
                                        "$ref": "#/components/schemas/OutdoorCat"
                                    }
                                ],
                                "discriminator": {
                                    "propertyName": "subtype"
                                }
                            }
                        }
                    }
                ]
            },
            "ServiceDog": {
                "type": "object",
                "title": "ServiceDog",
                "required": [
                    "DogSubtype",
                    "task"
                ],
                "properties": {
                    "DogSubtype": {
                        "type": "string",
                        "enum": [
                            "ServiceDog"
                        ]
                    },
                    "task": {
                        "type": "string",
                        "example": "Guide"
                    }
                }
            },
            "PetDog": {
                "type": "object",
                "title": "PetDog",
                "required": [
                    "DogSubtype",
                    "favoriteToy"
                ],
                "properties": {
                    "DogSubtype": {
                        "type": "string",
                        "enum": [
                            "PetDog"
                        ]
                    },
                    "favoriteToy": {
                        "type": "string",
                        "example": "Ball"
                    }
                }
            },
            "IndoorCat": {
                "type": "object",
                "title": "IndoorCat",
                "required": [
                    "CatSubtype",
                    "litterBoxBrand"
                ],
                "properties": {
                    "CatSubtype": {
                        "type": "string",
                        "enum": [
                            "IndoorCat"
                        ]
                    },
                    "litterBoxBrand": {
                        "type": "string",
                        "example": "FreshStep"
                    }
                }
            },
            "OutdoorCat": {
                "type": "object",
                "title": "OutdoorCat",
                "required": [
                    "subtype",
                    "huntingSkill"
                ],
                "properties": {
                    "subtype": {
                        "type": "string",
                        "enum": [
                            "OutdoorCat"
                        ]
                    },
                    "huntingSkill": {
                        "type": "string",
                        "example": "Expert"
                    }
                }
            },
            "Bird": {
                "type": "object",
                "title": "Bird",
                "required": [
                    "breed",
                    "ID"
                ],
                "properties": {
                   "type": {
                        "type": "string",
                        "enum": [
                            "Bird"
                       ]
                    },
                    "canFly": {
                        "type": "boolean"
                    },
                    "color" :{
                        "type": "string"
                    },
                    "ID" : {
                        "type": "integer"
                    },
                    "characteristics": {
                                "oneOf": [
                                    {
                                        "$ref": "#/components/schemas/TalkingBird"
                                    },
                                    {
                                        "$ref": "#/components/schemas/SingingBird"
                                    }
                            ]
                        }
                }
            },
            "TalkingBird": {
                "type": "object",
                "properties": {
                    "vocabularySize": {
                        "type": "integer",
                        "format": "int32"
                    }
                }
            },
            "SingingBird": {
                "type": "object",
                "properties": {
                    "songType": {
                        "type": "string"
                    }
                }
            }
        }
    }
}
